@import "tailwindcss";

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  /* font-weight: 500; */
  color: var(--color-blue-500);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-blue-400);
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  text-align: left;
  padding-bottom: 10px;
}

table th, td {
  padding: 4px;
  border-width: 1px;
}

table td {
  text-align: left;
  vertical-align: top;
}

table .filter {
  border: none;
  padding-bottom: 8px;
}

table .loading {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  /* padding-top: 2px; */
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
  /* padding-bottom: 2px; */
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
